# PROYECT 1 -PGJ JSON-

## DATA BOOTCAMP ITESM/TRILOGY

## TEAM: "LOS JSON's"

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import csv
import json

In [2]:
df = pd.read_json('pgj.json')

In [3]:
df.head(5)

,datasetid,recordid,fields,geometry,record_timestamp
0,carpetas-de-investigacion-pgj-de-la-ciudad-de-...,7bdffdcf79d2e92bfa909915535a7433c120cc35,"{'mes_hechos': 'Diciembre', 'calle_hechos2': '...","{'type': 'Point', 'coordinates': [-99.05353541...",2019-08-06T10:34:05.305-05:00
1,carpetas-de-investigacion-pgj-de-la-ciudad-de-...,d535ccb98af617954f2b4bd133db07f2681d1856,"{'mes_hechos': 'Diciembre', 'calle_hechos2': '...","{'type': 'Point', 'coordinates': [-99.12854990...",2019-08-06T10:34:05.305-05:00
2,carpetas-de-investigacion-pgj-de-la-ciudad-de-...,351f2664af854a777c64236bf6e5e6f59af9a642,"{'mes_hechos': 'Enero', 'calle_hechos2': 'FRAY...","{'type': 'Point', 'coordinates': [-99.12542849...",2019-08-06T10:34:05.305-05:00
3,carpetas-de-investigacion-pgj-de-la-ciudad-de-...,4016a24363993aba04377c1a06a32787f96b6785,"{'mes_hechos': 'Enero', 'calle_hechos2': 'NA',...","{'type': 'Point', 'coordinates': [-99.14428623...",2019-08-06T10:34:05.305-05:00
4,carpetas-de-investigacion-pgj-de-la-ciudad-de-...,4560d1a2a59701777bc02ecc388f2075dad58b6e,"{'mes_hechos': 'Agosto', 'calle_hechos2': 'NA'...","{'type': 'Point', 'coordinates': [-99.15011957...",2019-08-06T10:34:05.305-05:00

* PGJDF CRIME DICTIONARY CONTAINED ON 'FIELDS'

In [4]:
df['fields'][0]

{'mes_hechos': 'Diciembre',
 'calle_hechos2': 'TURANDOT',
 'latitud': '19.302084229935',
 'ao_inicio': '2017',
 'fecha_inicio': '2017-01-01 00:37:27',
 'calle_hechos': 'AVENIDA TLAHUAC',
 'agencia': 'TLH-1',
 'alcaldia_hechos': 'TLAHUAC',
 'categoria_delito': 'DELITO DE BAJO IMPACTO',
 'fiscalia': 'INVESTIGACIÓN EN TLAHUAC',
 'unidad_investigacion': 'UI-2SD',
 'fecha_hechos': '2016-12-31 22:11:00',
 'colonia_hechos': 'SANTA ANA PONIENTE',
 'geopoint': [19.3020842299, -99.0535354187],
 'ao_hechos': '2016',
 'delito': 'HOMICIDIO CULPOSO POR TRÁNSITO VEHICULAR (ATROPELLADO)',
 'mes_inicio': 'Enero',
 'longitud': '-99.0535354187022'}

* TLAHUAC

In [146]:
from itertools import islice

tlahuac=[]
for i, row in df.iterrows(): #head(500)
    
    try:
        if df["fields"][i]["alcaldia_hechos"]=="TLAHUAC" and df["fields"][i]["ao_hechos"] >= "2016":
            tlahuac.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        tlahuac.append(np.nan)

In [147]:
tlahuacdf=pd.DataFrame(tlahuac)

In [148]:
tlahuacdf[0].value_counts().head(11)

VIOLENCIA FAMILIAR                                       3085
AMENAZAS                                                 1149
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA           1027
ROBO DE OBJETOS                                           913
ROBO A CASA HABITACION SIN VIOLENCIA                      631
ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VIOLENCIA     604
DESPOJO                                                   583
FRAUDE                                                    540
DENUNCIA DE HECHOS                                        538
ROBO A NEGOCIO SIN VIOLENCIA                              488
ROBO A NEGOCIO CON VIOLENCIA                              448
Name: 0, dtype: int64

In [398]:
tlahuacdf=tlahuacdf.rename(columns={0:'CRIME', 1:"YEAR"})
tlahuacplot=tlahuacdf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
tlahuacplot

                                               CRIME  YEAR
0                                 VIOLENCIA FAMILIAR  3085
1                                           AMENAZAS  1149
2     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA  1027
3                                    ROBO DE OBJETOS   913
4               ROBO A CASA HABITACION SIN VIOLENCIA   631
5  ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...   604
6                                            DESPOJO   583
7                                             FRAUDE   540
8                                 DENUNCIA DE HECHOS   538
9                       ROBO A NEGOCIO SIN VIOLENCIA   488

* IZTAPALAPA

In [6]:
from itertools import islice

iztapalapa=[]
for i, row in df.iterrows(): #head(500)
    
    try:
        
        if df["fields"][i]["alcaldia_hechos"]=="IZTAPALAPA" and df["fields"][i]["ao_hechos"] >= "2016":
            iztapalapa.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        iztapalapa.append(np.nan)

In [22]:
iztapalapadf=pd.DataFrame(iztapalapa)

In [36]:
iztapalapadf[0].value_counts().head(10)

VIOLENCIA FAMILIAR                                       13804
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA            8944
ROBO A NEGOCIO SIN VIOLENCIA                              8631
ROBO DE OBJETOS                                           7176
AMENAZAS                                                  6322
DENUNCIA DE HECHOS                                        5230
ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VIOLENCIA     3902
FRAUDE                                                    3423
ROBO A CASA HABITACION SIN VIOLENCIA                      3010
ROBO A TRANSEUNTE DE CELULAR CON VIOLENCIA                2547
Name: 0, dtype: int64

In [399]:
iztapalapadf=iztapalapadf.rename(columns={0:'CRIME', 1:"YEAR"})
iztapalaplot=iztapalapadf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
iztapalaplot

                                               CRIME   YEAR
0                                 VIOLENCIA FAMILIAR  13804
1     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA   8944
2                       ROBO A NEGOCIO SIN VIOLENCIA   8631
3                                    ROBO DE OBJETOS   7176
4                                           AMENAZAS   6322
5                                 DENUNCIA DE HECHOS   5230
6  ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...   3902
7                                             FRAUDE   3423
8               ROBO A CASA HABITACION SIN VIOLENCIA   3010
9         ROBO A TRANSEUNTE DE CELULAR CON VIOLENCIA   2547

*CUAUHTEMOC

In [21]:
from itertools import islice

cuauhtemoc=[]
for i, row in df.iterrows(): #head(500)
    
    try:
    
        if df["fields"][i]["alcaldia_hechos"]=="CUAUHTEMOC" and df["fields"][i]["ao_hechos"] >= "2016":
            cuauhtemoc.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        cuauhtemoc.append(np.nan)

In [37]:
cuauhtemocdf=pd.DataFrame(cuauhtemoc)

In [38]:
cuauhtemocdf[0].value_counts().head(10)

ROBO DE OBJETOS                                                         10451
FRAUDE                                                                  10203
ROBO A NEGOCIO SIN VIOLENCIA                                             8626
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA                           7731
DENUNCIA DE HECHOS                                                       7413
VIOLENCIA FAMILIAR                                                       5902
AMENAZAS                                                                 5341
ROBO A PASAJERO A BORDO DE METRO SIN VIOLENCIA                           4706
ROBO DE ACCESORIOS DE AUTO                                               4127
FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMENTOS DE CREDITO PUBLICO     3747
Name: 0, dtype: int64

In [400]:
cuauhtemocdf=cuauhtemocdf.rename(columns={0:'CRIME', 1:"YEAR"})
cuauhtemocplot=cuauhtemocdf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
cuauhtemocplot

                                               CRIME   YEAR
0                                    ROBO DE OBJETOS  10451
1                                             FRAUDE  10203
2                       ROBO A NEGOCIO SIN VIOLENCIA   8626
3     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA   7731
4                                 DENUNCIA DE HECHOS   7413
5                                 VIOLENCIA FAMILIAR   5902
6                                           AMENAZAS   5341
7     ROBO A PASAJERO A BORDO DE METRO SIN VIOLENCIA   4706
8                         ROBO DE ACCESORIOS DE AUTO   4127
9  FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMEN...   3747

*VENUSTIANO CARRANZA

In [7]:
from itertools import islice

venustiano=[]
for i, row in df.iterrows(): #head(500)
    
    try:
       
        if df["fields"][i]["alcaldia_hechos"]=="VENUSTIANO CARRANZA" and df["fields"][i]["ao_hechos"] >= "2016":
            venustiano.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        venustiano.append(np.nan)

In [23]:
venustianodf=pd.DataFrame(venustiano)

In [39]:
venustianodf[0].value_counts().head(10)

VIOLENCIA FAMILIAR                                4078
ROBO DE OBJETOS                                   3352
DENUNCIA DE HECHOS                                3335
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA    2962
ROBO A NEGOCIO SIN VIOLENCIA                      2869
AMENAZAS                                          2546
FRAUDE                                            1462
ROBO DE ACCESORIOS DE AUTO                        1302
NARCOMENUDEO POSESION SIMPLE                      1283
ROBO A CASA HABITACION SIN VIOLENCIA              1148
Name: 0, dtype: int64

In [401]:
venustianodf=venustianodf.rename(columns={0:'CRIME', 1:"YEAR"})
venustianoplot=venustianodf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
venustianoplot

                                            CRIME  YEAR
0                              VIOLENCIA FAMILIAR  4078
1                                 ROBO DE OBJETOS  3352
2                              DENUNCIA DE HECHOS  3335
3  ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA  2962
4                    ROBO A NEGOCIO SIN VIOLENCIA  2869
5                                        AMENAZAS  2546
6                                          FRAUDE  1462
7                      ROBO DE ACCESORIOS DE AUTO  1302
8                    NARCOMENUDEO POSESION SIMPLE  1283
9            ROBO A CASA HABITACION SIN VIOLENCIA  1148

*GUSTAVO A MADERO

In [8]:
from itertools import islice

gustavo=[]
for i, row in df.iterrows(): #head(500)
    
    try:
        
        if df["fields"][i]["alcaldia_hechos"]=="GUSTAVO A MADERO" and df["fields"][i]["ao_hechos"] >= "2016":
            gustavo.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        gustavo.append(np.nan)

In [24]:
gustavodf=pd.DataFrame(gustavo)

In [40]:
gustavodf[0].value_counts().head(10)

VIOLENCIA FAMILIAR                                       7915
ROBO A NEGOCIO SIN VIOLENCIA                             5889
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA           4428
ROBO DE OBJETOS                                          4355
AMENAZAS                                                 3735
DENUNCIA DE HECHOS                                       3491
ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VIOLENCIA    3023
FRAUDE                                                   2845
ROBO DE ACCESORIOS DE AUTO                               2559
ROBO A CASA HABITACION SIN VIOLENCIA                     2323
Name: 0, dtype: int64

In [402]:
gustavodf=gustavodf.rename(columns={0:'CRIME', 1:"YEAR"})
gustavoplot=gustavodf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
gustavoplot

                                               CRIME  YEAR
0                                 VIOLENCIA FAMILIAR  7915
1                       ROBO A NEGOCIO SIN VIOLENCIA  5889
2     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA  4428
3                                    ROBO DE OBJETOS  4355
4                                           AMENAZAS  3735
5                                 DENUNCIA DE HECHOS  3491
6  ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...  3023
7                                             FRAUDE  2845
8                         ROBO DE ACCESORIOS DE AUTO  2559
9               ROBO A CASA HABITACION SIN VIOLENCIA  2323

*AZCAPOTZALCO

In [9]:
from itertools import islice

azcapotzalco=[]
for i, row in df.iterrows(): #head(500)
    
    try:
      
        if df["fields"][i]["alcaldia_hechos"]=="AZCAPOTZALCO" and df["fields"][i]["ao_hechos"] >= "2016":
            azcapotzalco.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        azcapotzalco.append(np.nan)

In [25]:
azcapotzalcodf=pd.DataFrame(azcapotzalco)

In [41]:
azcapotzalcodf[0].value_counts().head(10)

ROBO A NEGOCIO SIN VIOLENCIA                             3452
VIOLENCIA FAMILIAR                                       3285
ROBO DE OBJETOS                                          2699
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA           2415
AMENAZAS                                                 2363
ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO              1775
FRAUDE                                                   1572
ROBO A TRANSEUNTE DE CELULAR CON VIOLENCIA               1380
ROBO DE ACCESORIOS DE AUTO                               1363
ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VIOLENCIA    1337
Name: 0, dtype: int64

In [403]:
azcapotzalcodf=azcapotzalcodf.rename(columns={0:'CRIME', 1:"YEAR"})
azcapotzalcoplot=azcapotzalcodf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
azcapotzalcoplot

                                               CRIME  YEAR
0                       ROBO A NEGOCIO SIN VIOLENCIA  3452
1                                 VIOLENCIA FAMILIAR  3285
2                                    ROBO DE OBJETOS  2699
3     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA  2415
4                                           AMENAZAS  2363
5        ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO  1775
6                                             FRAUDE  1572
7         ROBO A TRANSEUNTE DE CELULAR CON VIOLENCIA  1380
8                         ROBO DE ACCESORIOS DE AUTO  1363
9  ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...  1337

*COYOACAN

In [10]:
from itertools import islice

coyoacan=[]
for i, row in df.iterrows(): #head(500)
    
    try:
        
        if df["fields"][i]["alcaldia_hechos"]=="COYOACAN" and df["fields"][i]["ao_hechos"] >= "2016":
            coyoacan.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        coyoacan.append(np.nan)

In [27]:
coyoacandf=pd.DataFrame(coyoacan)

In [42]:
coyoacandf[0].value_counts().head(10)

VIOLENCIA FAMILIAR                                                      4729
ROBO A NEGOCIO SIN VIOLENCIA                                            4249
ROBO DE OBJETOS                                                         3983
FRAUDE                                                                  2811
DENUNCIA DE HECHOS                                                      2701
AMENAZAS                                                                2667
FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMENTOS DE CREDITO PUBLICO    2568
ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO                             2479
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA                          2281
ROBO DE ACCESORIOS DE AUTO                                              2030
Name: 0, dtype: int64

In [404]:
coyoacandf=coyoacandf.rename(columns={0:'CRIME', 1:"YEAR"})
coyoacanplot=coyoacandf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
coyoacanplot

                                               CRIME  YEAR
0                                 VIOLENCIA FAMILIAR  4729
1                       ROBO A NEGOCIO SIN VIOLENCIA  4249
2                                    ROBO DE OBJETOS  3983
3                                             FRAUDE  2811
4                                 DENUNCIA DE HECHOS  2701
5                                           AMENAZAS  2667
6  FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMEN...  2568
7        ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO  2479
8     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA  2281
9                         ROBO DE ACCESORIOS DE AUTO  2030

*MIGUEL HIDALGO

In [11]:
from itertools import islice

miguel=[]
for i, row in df.iterrows(): #head(500)
    
    try:
        
        if df["fields"][i]["alcaldia_hechos"]=="MIGUEL HIDALGO" and df["fields"][i]["ao_hechos"] >= "2016":
            miguel.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        miguel.append(np.nan)

In [26]:
migueldf=pd.DataFrame(miguel)

In [43]:
migueldf[0].value_counts().head(10)

ROBO DE OBJETOS                                                         4800
FRAUDE                                                                  4183
ROBO A NEGOCIO SIN VIOLENCIA                                            3867
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA                          3679
ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO                             2572
VIOLENCIA FAMILIAR                                                      2335
DENUNCIA DE HECHOS                                                      1898
FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMENTOS DE CREDITO PUBLICO    1807
AMENAZAS                                                                1679
ROBO A PASAJERO / CONDUCTOR DE VEHICULO CON VIOLENCIA                   1624
Name: 0, dtype: int64

In [405]:
migueldf=migueldf.rename(columns={0:'CRIME', 1:"YEAR"})
miguelplot=migueldf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
miguelplot

                                               CRIME  YEAR
0                                    ROBO DE OBJETOS  4800
1                                             FRAUDE  4183
2                       ROBO A NEGOCIO SIN VIOLENCIA  3867
3     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA  3679
4        ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO  2572
5                                 VIOLENCIA FAMILIAR  2335
6                                 DENUNCIA DE HECHOS  1898
7  FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMEN...  1807
8                                           AMENAZAS  1679
9  ROBO A PASAJERO / CONDUCTOR DE VEHICULO CON VI...  1624

*TLALPAN

In [12]:
from itertools import islice

tlalpan=[]
for i, row in df.iterrows(): #head(500)
    
    try:
        
        if df["fields"][i]["alcaldia_hechos"]=="TLALPAN" and df["fields"][i]["ao_hechos"] >= "2016":
            tlalpan.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        tlalpan.append(np.nan)

In [28]:
tlalpandf=pd.DataFrame(tlalpan)

In [44]:
tlalpandf[0].value_counts().head(10)

VIOLENCIA FAMILIAR                                                      5434
ROBO A NEGOCIO SIN VIOLENCIA                                            3225
ROBO DE OBJETOS                                                         3014
AMENAZAS                                                                2899
FRAUDE                                                                  2134
ROBO A CASA HABITACION SIN VIOLENCIA                                    1887
DENUNCIA DE HECHOS                                                      1701
ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO                             1583
FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMENTOS DE CREDITO PUBLICO    1577
ROBO DE ACCESORIOS DE AUTO                                              1555
Name: 0, dtype: int64

In [406]:
tlalpandf=tlalpandf.rename(columns={0:'CRIME', 1:"YEAR"})
tlalpanplot=tlalpandf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
tlalpanplot

                                               CRIME  YEAR
0                                 VIOLENCIA FAMILIAR  5434
1                       ROBO A NEGOCIO SIN VIOLENCIA  3225
2                                    ROBO DE OBJETOS  3014
3                                           AMENAZAS  2899
4                                             FRAUDE  2134
5               ROBO A CASA HABITACION SIN VIOLENCIA  1887
6                                 DENUNCIA DE HECHOS  1701
7        ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO  1583
8  FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMEN...  1577
9                         ROBO DE ACCESORIOS DE AUTO  1555

*CUAJIMALPA DE MORELOS

In [13]:
from itertools import islice

cuajimalpa=[]
for i, row in df.iterrows(): #head(500)
    
    try:
        
        if df["fields"][i]["alcaldia_hechos"]=="CUAJIMALPA DE MORELOS" and df["fields"][i]["ao_hechos"] >= "2016":
            cuajimalpa.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        cuajimalpa.append(np.nan)

In [31]:
cuajimalpadf=pd.DataFrame(cuajimalpa)

In [45]:
cuajimalpadf[0].value_counts().head(10)

VIOLENCIA FAMILIAR                                                      1261
ROBO A NEGOCIO SIN VIOLENCIA                                             976
ROBO DE OBJETOS                                                          803
FRAUDE                                                                   710
AMENAZAS                                                                 469
ROBO A CASA HABITACION SIN VIOLENCIA                                     401
ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO                              378
DENUNCIA DE HECHOS                                                       354
FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMENTOS DE CREDITO PUBLICO     337
DAÑO EN PROPIEDAD AJENA CULPOSA POR TRÁNSITO VEHICULAR A AUTOMOVIL       316
Name: 0, dtype: int64

In [407]:
cuajimalpadf=cuajimalpadf.rename(columns={0:'CRIME', 1:"YEAR"})
cuajimalpaplot=cuajimalpadf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
cuajimalpaplot

                                               CRIME  YEAR
0                                 VIOLENCIA FAMILIAR  1261
1                       ROBO A NEGOCIO SIN VIOLENCIA   976
2                                    ROBO DE OBJETOS   803
3                                             FRAUDE   710
4                                           AMENAZAS   469
5               ROBO A CASA HABITACION SIN VIOLENCIA   401
6        ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO   378
7                                 DENUNCIA DE HECHOS   354
8  FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMEN...   337
9  DAÑO EN PROPIEDAD AJENA CULPOSA POR TRÁNSITO V...   316

*XOCHIMILCO

In [14]:
from itertools import islice

xochimilco=[]
for i, row in df.iterrows(): #head(500)
    
    try:
        
        if df["fields"][i]["alcaldia_hechos"]=="XOCHIMILCO" and df["fields"][i]["ao_hechos"] >= "2016":
            xochimilco.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        xochimilco.append(np.nan)

In [29]:
xochimilcodf=pd.DataFrame(xochimilco)

In [46]:
xochimilcodf[0].value_counts().head(10)

VIOLENCIA FAMILIAR                                       3634
AMENAZAS                                                 1646
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA           1585
ROBO A CASA HABITACION SIN VIOLENCIA                     1157
ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VIOLENCIA    1103
ROBO DE OBJETOS                                           984
ROBO A NEGOCIO SIN VIOLENCIA                              910
DESPOJO                                                   786
FRAUDE                                                    722
ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO               620
Name: 0, dtype: int64

In [408]:
xochimilcodf=xochimilcodf.rename(columns={0:'CRIME', 1:"YEAR"})
xochimilcoplot=xochimilcodf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
xochimilcoplot

                                               CRIME  YEAR
0                                 VIOLENCIA FAMILIAR  3634
1                                           AMENAZAS  1646
2     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA  1585
3               ROBO A CASA HABITACION SIN VIOLENCIA  1157
4  ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...  1103
5                                    ROBO DE OBJETOS   984
6                       ROBO A NEGOCIO SIN VIOLENCIA   910
7                                            DESPOJO   786
8                                             FRAUDE   722
9        ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO   620

*ALVARO OBREGON

In [15]:
from itertools import islice

alvaro=[]
for i, row in df.iterrows(): #head(500)
    
    try:
        
        if df["fields"][i]["alcaldia_hechos"]=="ALVARO OBREGON" and df["fields"][i]["ao_hechos"] >= "2016":
            alvaro.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        alvaro.append(np.nan)

In [30]:
alvarodf=pd.DataFrame(alvaro)

In [47]:
alvarodf[0].value_counts().head(10)

VIOLENCIA FAMILIAR                                                      5353
ROBO A NEGOCIO SIN VIOLENCIA                                            3580
ROBO DE OBJETOS                                                         3178
AMENAZAS                                                                2601
FRAUDE                                                                  2445
DENUNCIA DE HECHOS                                                      2372
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA                          2357
ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO                             2243
ROBO A PASAJERO / CONDUCTOR DE VEHICULO CON VIOLENCIA                   2094
FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMENTOS DE CREDITO PUBLICO    1790
Name: 0, dtype: int64

In [409]:
alvarodf=alvarodf.rename(columns={0:'CRIME', 1:"YEAR"})
alvaroplot=alvarodf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
alvaroplot

                                               CRIME  YEAR
0                                 VIOLENCIA FAMILIAR  5353
1                       ROBO A NEGOCIO SIN VIOLENCIA  3580
2                                    ROBO DE OBJETOS  3178
3                                           AMENAZAS  2601
4                                             FRAUDE  2445
5                                 DENUNCIA DE HECHOS  2372
6     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA  2357
7        ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO  2243
8  ROBO A PASAJERO / CONDUCTOR DE VEHICULO CON VI...  2094
9  FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMEN...  1790

*BENITO JUAREZ

In [16]:
from itertools import islice

benito=[]
for i, row in df.iterrows(): #head(500)
    
    try:
        
        if df["fields"][i]["alcaldia_hechos"]=="BENITO JUAREZ" and df["fields"][i]["ao_hechos"] >= "2016":
            benito.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        benito.append(np.nan)

In [50]:
benitodf=pd.DataFrame(benito)

In [51]:
benitodf[0].value_counts().head(10)

ROBO A NEGOCIO SIN VIOLENCIA                                            6435
FRAUDE                                                                  5898
ROBO DE ACCESORIOS DE AUTO                                              5744
ROBO DE OBJETOS                                                         4532
FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMENTOS DE CREDITO PUBLICO    4177
ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO                             2922
VIOLENCIA FAMILIAR                                                      2895
DENUNCIA DE HECHOS                                                      2544
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA                          2527
AMENAZAS                                                                2523
Name: 0, dtype: int64

In [410]:
benitodf=benitodf.rename(columns={0:'CRIME', 1:"YEAR"})
benitoplot=benitodf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
benitoplot

                                               CRIME  YEAR
0                       ROBO A NEGOCIO SIN VIOLENCIA  6435
1                                             FRAUDE  5898
2                         ROBO DE ACCESORIOS DE AUTO  5744
3                                    ROBO DE OBJETOS  4532
4  FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMEN...  4177
5        ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO  2922
6                                 VIOLENCIA FAMILIAR  2895
7                                 DENUNCIA DE HECHOS  2544
8     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA  2527
9                                           AMENAZAS  2523

*LA MAGADALENA CONTRERAS

In [58]:
from itertools import islice

magdalena=[]
for i, row in df.iterrows(): #head(500)
    
    try:
        
        if df["fields"][i]["alcaldia_hechos"]=="LA MAGDALENA CONTRERAS" and df["fields"][i]["ao_hechos"] >= "2016":
            magdalena.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        magdalena.append(np.nan)

In [60]:
magdalenadf=pd.DataFrame(magdalena)

In [61]:
magdalenadf[0].value_counts().head(10)

VIOLENCIA FAMILIAR                                       2669
AMENAZAS                                                  918
ROBO A CASA HABITACION SIN VIOLENCIA                      649
ROBO DE OBJETOS                                           577
DENUNCIA DE HECHOS                                        505
FRAUDE                                                    449
ROBO A NEGOCIO SIN VIOLENCIA                              365
ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VIOLENCIA     351
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA            326
ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO               291
Name: 0, dtype: int64

In [411]:
magdalenadf=magdalenadf.rename(columns={0:'CRIME', 1:"YEAR"})
magdalenaplot=magdalenadf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
magdalenaplot

                                               CRIME  YEAR
0                                 VIOLENCIA FAMILIAR  2669
1                                           AMENAZAS   918
2               ROBO A CASA HABITACION SIN VIOLENCIA   649
3                                    ROBO DE OBJETOS   577
4                                 DENUNCIA DE HECHOS   505
5                                             FRAUDE   449
6                       ROBO A NEGOCIO SIN VIOLENCIA   365
7  ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...   351
8     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA   326
9        ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO   291

*MILPA ALTA

In [18]:
from itertools import islice

milpa=[]
for i, row in df.iterrows(): #head(500)
    
    try:
        
        if df["fields"][i]["alcaldia_hechos"]=="MILPA ALTA" and df["fields"][i]["ao_hechos"] >= "2016":
            milpa.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        milpa.append(np.nan)

In [34]:
milpadf=pd.DataFrame(milpa)

In [55]:
milpadf[0].value_counts().head(10)

VIOLENCIA FAMILIAR                                       1118
AMENAZAS                                                  356
ROBO A CASA HABITACION SIN VIOLENCIA                      259
ROBO DE OBJETOS                                           190
LESIONES INTENCIONALES POR GOLPES                         176
ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VIOLENCIA     169
DAÑO EN PROPIEDAD AJENA INTENCIONAL                       152
FRAUDE                                                    150
DESPOJO                                                   145
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA            138
Name: 0, dtype: int64

In [412]:
milpadf=milpadf.rename(columns={0:'CRIME', 1:"YEAR"})
milpaplot=milpadf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
milpaplot

                                               CRIME  YEAR
0                                 VIOLENCIA FAMILIAR  1118
1                                           AMENAZAS   356
2               ROBO A CASA HABITACION SIN VIOLENCIA   259
3                                    ROBO DE OBJETOS   190
4                  LESIONES INTENCIONALES POR GOLPES   176
5  ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...   169
6                DAÑO EN PROPIEDAD AJENA INTENCIONAL   152
7                                             FRAUDE   150
8                                            DESPOJO   145
9     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA   138

*IZTACALCO

In [19]:
from itertools import islice

iztacalco=[]
for i, row in df.iterrows(): #head(500)
    
    try:
        
        if df["fields"][i]["alcaldia_hechos"]=="IZTACALCO" and df["fields"][i]["ao_hechos"] >= "2016":
            iztacalco.append((df["fields"][i]["delito"],df["fields"][i]["ao_hechos"]))
    except:
        iztacalco.append(np.nan)

In [56]:
iztacalcodf=pd.DataFrame(iztacalco)

In [57]:
iztacalcodf[0].value_counts().head(10)

VIOLENCIA FAMILIAR                                       4557
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA           2452
ROBO DE OBJETOS                                          1903
DENUNCIA DE HECHOS                                       1739
AMENAZAS                                                 1701
FRAUDE                                                   1267
ROBO A NEGOCIO SIN VIOLENCIA                             1139
ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO              1134
ROBO DE ACCESORIOS DE AUTO                               1092
ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VIOLENCIA    1048
Name: 0, dtype: int64

In [413]:
iztacalcodf=iztacalcodf.rename(columns={0:'CRIME', 1:"YEAR"})
iztacalcoplot=iztacalcodf.groupby(["CRIME"]).count().sort_values("YEAR", ascending=False).head(10).reset_index(inplace=False)
iztacalcoplot

                                               CRIME  YEAR
0                                 VIOLENCIA FAMILIAR  4557
1     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA  2452
2                                    ROBO DE OBJETOS  1903
3                                 DENUNCIA DE HECHOS  1739
4                                           AMENAZAS  1701
5                                             FRAUDE  1267
6                       ROBO A NEGOCIO SIN VIOLENCIA  1139
7        ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO  1134
8                         ROBO DE ACCESORIOS DE AUTO  1092
9  ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...  1048